.form {

	display: flex;
	flex-direction: column;

}

.addSessionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.5em;
	border: none;
	background-color: transparent;
	padding-left: 0;
}

.date {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.125em;
	border: none;
	background-color: transparent;
	padding-left: 0;
}

.label {
	padding-block: 0.2em;
	padding-left: 10px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.label::before {
	width: 5px;
	height: 100%;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--grade-color)
}

.textInput {
	font-size: 1.125em;
	border: 1px solid #eee;
	background-color: transparent;
}

.incrementButton {
	font-size: 1.5em;
	border: 1px solid black;
	background-color: #007bff;
	color: white
}

.button {
	margin-top: 1.5em;
	font-size: 1.125em;
	height: 2.5em;
	padding-block: 5px;
	background-color: #3478f6;
	font-weight: 600;
	color: white;
	border: none;
	border-radius: 5px;
}


.visuallyHidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
