.main {
	padding: 2em;
}

.header {
	display: flex;
	align-items: center;
}

.button {
	font-size: 1.125em;
	height: 2.5em;
	padding: 10px;
	background-color: transparent;
	font-weight: 600;
	color: white;
	border: none;
	border-radius: 5px;
}
